.page-not-found {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 31.25rem;
  padding: 1.875rem 0 1.875rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page-not-found h1 {
  font-size: 6rem;
  color: #495E57;
  margin: 0;
  line-height: 1;
}

.page-not-found h2 {
  margin: 0;
}

.page-not-found p {
  color: #666;
  max-width: 500px;
}
